{{- if and .Values.webUiBackend.enabled (not .Values.webUiBackend.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "private-assistant.fullname" . }}-webui-backend
  labels:
    {{- include "private-assistant.labels" . | nindent 4 }}
type: Opaque
data:
  postgres-password: {{ .Values.webUiBackend.config.postgres.password | default "changethis" | b64enc | quote }}
  minio-access-key: {{ .Values.webUiBackend.config.minio.accessKey | default "minioadmin" | b64enc | quote }}
  minio-secret-key: {{ .Values.webUiBackend.config.minio.secretKey | default "minioadmin" | b64enc | quote }}
  secret-key: {{ .Values.webUiBackend.config.app.secretKey | default "changethis" | b64enc | quote }}
  first-superuser-password: {{ .Values.webUiBackend.config.app.firstSuperuserPassword | default "changethis" | b64enc | quote }}
  mqtt-password: {{ .Values.webUiBackend.config.mqtt.password | default "" | b64enc | quote }}
{{- end }}
