apiVersion: v2
name: private-assistant
description: A Helm chart for Private Assistant ecosystem with optional Web UI
type: application
version: 0.9.1
appVersion: "0.3.6"
dependencies:
  - name: valkey
    version: 0.9.2
    repository: "oci://ghcr.io/valkey-io/valkey-helm"
    condition: valkey.enabled
