name: ct-linting-and-testing
on:
  pull_request:
    paths:
      - charts/**

permissions: read-all

jobs:
  chart-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4.3.1 # v4.3.1

      - name: Set up python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.13

      - name: Setup Chart Linting
        id: lint
        uses: helm/chart-testing-action@v2.8.0

      - name: List changed charts
        id: list-changed
        run: |
          ## If executed with debug this won't work anymore.
          changed=$(ct --config ./.github/configs/ct-lint.yaml list-changed)
          charts=$(echo "$changed" | tr '\n' ' ' | xargs)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
            echo "::set-output name=changed_charts::$charts"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --debug --config ./.github/configs/ct-lint.yaml --lint-conf ./.github/configs/lintconf.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.13.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: ct install --config ./.github/configs/ct-lint-install.yaml
        if: steps.list-changed.outputs.changed == 'true'
